﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Extensions;
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@using Microsoft.AspNetCore.Http
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@model KocSistem.CommunityEdition.Mvc.Models.Account.LoginViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@inject IKsStringLocalizer<AccountController> _localizer
@inject IHttpContextAccessor _httpContextaccessor

@{
    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != "dark" ? string.Empty : $".{theme}";

}

@{
    Layout = "~/src/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = _localizer["Login"];
}

@section scripts
    {
    @if (bool.Parse(_configuration["ReCaptcha:IsEnabled"]))
    {
        <script src="@_configuration["ReCaptcha:RenderUrl"]@_configuration["ReCaptcha:SiteKey"]"></script>
        <script>
            var loading = new KTDialog({ 'type': 'loader', 'placement': 'top center', 'message': '@_localizer["Loading"]' });
            loading.show();
            $("#kt_sign_in_submit").addClass('disabled').attr('disabled', 'disabled');
            grecaptcha.ready(function () {
                window.grecaptcha.execute('@_configuration["ReCaptcha:SiteKey"]', { action: 'login' }).then(function (token) {
                    $("#Captcha").val(token);
                    loading.hide();
                    $("#kt_sign_in_submit").removeClass('disabled').removeAttr('disabled');
                });
            });


        </script>
    }
    <script src="~/js/helpers/handlehelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    <script src="~/js/account/login@(_htmlMinSuffixHelper.MinSuffix).js"></script>
}

<form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" asp-controller="Account" asp-action="Login" method="POST">
    <input asp-for="ReturnUrl" value="@Context.Request.Query["ReturnUrl"]" type="hidden" />
    <input asp-for="Captcha" type="hidden" />
    <div class="mb-10">
        <h1 class="text-dark mb-3">@_localizer["WelcomeToOneFrameMvcTemplate"]</h1>
        <div class="text-gray-400 fw-bold fs-4">
            <a href="/accounts/register" class="link-primary fw-bolder">@_localizer["CreateAnAccount"]</a>
        </div>
    </div>
    <div class="fv-row mb-10">
        <label class="form-label fs-6 fw-bolder text-dark">@_localizer["Email"]</label>
        <input class="form-control form-control-lg form-control-solid" id="Email" type="text" asp-for="Email" autocomplete="off">
    </div>
    <div class="fv-row mb-10">
        <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-bolder text-dark fs-6 mb-0">@_localizer["Password"]</label>
            <a href="/accounts/forgot-password" class="link-primary fs-6 fw-bolder">@_localizer["ForgotPassword"]</a>
        </div>
        <input class="form-control form-control-lg form-control-solid" id="Password" asp-for="Password" value="@Model.Password" type="password">
    </div>
    <div class="row fv-row mb-7 fv-plugins-icon-container">
        <div class="col-xl-6">
            <div class="form-check form-check-custom form-check-solid mt-3">
                <input class="form-check-input" asp-for="RememberMe" type="checkbox">
                <label class="form-check-label">
                    @_localizer["RememberMe"]
                </label>
            </div>
        </div>
        <div class="col-xl-6">
        </div>
    </div>
    <div class="text-center">
        <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
            <span class="indicator-label">@_localizer["SignIn"]</span>
            <span class="indicator-progress">
                @_localizer["PleaseWait"]...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
        <div class="text-center text-muted text-uppercase fw-bolder mb-5">@_localizer["Or"]</div>
        <partial name="_ExternalLoginPartial.cshtml" />
    </div>
</form>