﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@inject IKsStringLocalizer<AccountController> _localizer

@{
    Layout = "~/src/Views/Shared/_NoticeLayout.cshtml";
    ViewData["Title"] = _localizer["RegisterEmailSent"];
}


<h1 class="fw-bolder fs-2qx text-gray-800 mb-7">@_localizer["EmailSent"]</h1>
<div class="fw-bold fs-3 text-muted mb-15">
    @_localizer["RegisterEmailSentSuccessfully"].
    <br />@_localizer["CheckYourEmailBox"].
</div>
