﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@using System.Globalization
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@model KocSistem.CommunityEdition.Mvc.Models.Account.RegisterViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@inject IKsStringLocalizer<AccountController> _localizer
@inject IHttpContextAccessor _httpContextaccessor
@inject IOptions<RequestLocalizationOptions> _locOptions

@{
    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != "dark" ? string.Empty : $".{theme}";
    var cultureItems = _locOptions.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = c.Parent.NativeName, Selected = CultureInfo.DefaultThreadCurrentCulture.ToString() == c.Name }).ToList().OrderBy(o => o.Text);
}

@{
    Layout = "~/src/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = _localizer["CreateAnAccount"];
}

@section scripts
{
    <script src="~/js/account/register@(_htmlMinSuffixHelper.MinSuffix).js"></script>
}

<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form" asp-controller="Account" asp-action="Register" method="POST">
    <div class="text-center">
        <h1 class="text-dark mb-3">@_localizer["CreateAnAccount"]</h1>
        <div class="text-gray-400 fw-bold fs-4">
            @_localizer["AlreadyHaveAnAccount"]
            <a href="/accounts/login" class="link-primary fw-bolder">@_localizer["SignInHere"]</a>
        </div>
        <div class="text-center">
            <div class="text-center text-muted text-uppercase fw-bolder mb-5">@_localizer["Or"]</div>
            <partial name="_ExternalLoginPartial.cshtml" />
        </div>
    </div>
    <div class="d-flex align-items-center mb-10">
        <div class="border-bottom border-gray-300 mw-50 w-100"></div>
        <span class="fw-bold text-gray-400 fs-7 mx-2">@_localizer["Or"]</span>
        <div class="border-bottom border-gray-300 mw-50 w-100"></div>
    </div>
    <div class="row fv-row mb-7">
        <div class="col-xl-6">
            <label class="form-label fw-bolder text-dark fs-6">@_localizer["Name"]</label>
            <input class="form-control form-control-lg form-control-solid" type="text" asp-for="Name" name="name" autocomplete="off">
        </div>
        <div class="col-xl-6">
            <label class="form-label fw-bolder text-dark fs-6">@_localizer["Surname"]</label>
            <input class="form-control form-control-lg form-control-solid" type="text" asp-for="Surname" name="surname" autocomplete="off">
        </div>
    </div>
    <div class="fv-row mb-7">
        <label class="form-label fw-bolder text-dark fs-6">@_localizer["Email"]</label>
        <input class="form-control form-control-lg form-control-solid" type="email" asp-for="Email" name="email" autocomplete="off">
    </div>
    <div class="mb-10 fv-row" data-kt-password-meter="true">
        <div class="mb-1">
            <label class="form-label fw-bolder text-dark fs-6">@_localizer["Password"]</label>
            <div class="position-relative mb-3">
                <input class="form-control form-control-lg form-control-solid" asp-for="Password" type="password" name="password" autocomplete="off">
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
        </div>
    </div>
    <div class="fv-row mb-5">
        <label class="form-label fw-bolder text-dark fs-6">@_localizer["PasswordConfirm"]</label>
        <input class="form-control form-control-lg form-control-solid" asp-for="ConfirmPassword" type="password" name="confirmpassword" autocomplete="off" />
    </div>
    <div class="fv-row mb-7">
        <label class="form-label fw-bolder text-dark fs-6">@_localizer["TimeZone"]</label>
        <select asp-for="TimeZone" id="ddlTimeZone" data-control="select2" class="form-select form-select-solid"></select>        
    </div>   
    <div class="text-center">
        <button type="button" id="kt_sign_up_submit" class="btn btn-lg btn-primary">
            <span class="indicator-label">@_localizer["Submit"]</span>
            <span class="indicator-progress">
                @_localizer["PleaseWait"]...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
</form>