﻿.jstree-default {
    .jstree-wholerow-clicked {
        background: none !important;
        box-shadow: none !important;
    }

    .jstree-wholerow-hovered {
        background: #919191 !important;
    }
}