﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@using Microsoft.AspNetCore.Http.Features
@inject IKsStringLocalizer<HomeController> _localizer

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                    <span class="sr-only">@_localizer["ToggleCookieConsentBanner"]</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </span>
            </div>
            <div class="collapse navbar-collapse">
                <p class="navbar-text">
                    Use this space to summarize your privacy and cookie use policy.
                </p>
                <div class="navbar-right">
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">@_localizer["LearnMore"]</a>
                    <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">@_localizer["Accept"]</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function() {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click",
                function(el) {
                    document.cookie = el.target.dataset.cookieString;
                    document.querySelector("#cookieConsent").classList.add("hidden");
                },
                false);
        })();
    </script>
}