﻿@using KocSistem.CommunityEdition.Common.Constants;
@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Extensions
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.CommunityEdition.Mvc.Toast
@using KocSistem.OneFrame.Common.Extensions
@using KocSistem.OneFrame.I18N
@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@inject HtmlRtlSuffixHelper _htmlRtlSuffixHelper
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@inject IHttpContextAccessor _httpContextaccessor
@inject IKsStringLocalizer<HomeController> _localizer
@{
    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != Themes.Dark ? "" : $".{theme}";
    var timeZoneCookie = _httpContextaccessor.HttpContext.Request.Cookies[CookieHelper.TimeZone] ?? ConfigurationConstant.DefaultTimeZone;
    var fullNameCookie = _httpContextaccessor.HttpContext.Request.Cookies[CookieHelper.FullName] ?? "";
    var currentCulture = CultureInfo.DefaultThreadCurrentCulture;
}
<!DOCTYPE html>
<html lang="@(CultureInfo.DefaultThreadCurrentCulture.TwoLetterISOLanguageName)" direction="@(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr")" dir="@(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr")" style="direction: @(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr");">
<head>
    <meta charset="utf-8" />
    <title>OneFrame | @ViewData["Title"]</title>
    <meta name="description" content="@_localizer["NowYouCanStartBuildingYourAwesomeWebApplicationHappyCoding"]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/img/favicon-32x32.png" />
    <link rel="stylesheet" href="~/fonts/Poppins/Poppins.css" />
    @RenderSection("headerBegin", false)
    @if (_htmlRtlSuffixHelper.IsRightToLeft)
    {
        <link href="~/metronic/assets/plugins/custom/prismjs/prismjs.bundle.rtl.css" rel="stylesheet" type="text/css" />
    }
    <link href="~/metronic/assets/plugins/global/plugins@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />

    <link href="~/metronic/assets/css/style@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
    <script>
        var currentCulture = "@(currentCulture)"
        var timeZoneCookie = "@(timeZoneCookie)"
    </script>

    <script src="~/metronic/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/metronic/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/js/resource@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    <script src="~/js/site@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    <script src="~/js/common@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    <script src="~/js/shared/layout@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    <script src="~/lib/moment-timezone/moment-timezone.js"></script>
    <script src="~/lib/moment-timezone/moment-with-locales.min.js"></script>
    @RenderSection("headerEnd", false)
</head>
<body id="kt_body" class="@(theme != Themes.Dark ? string.Empty : "dark-mode ")header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
    <div class="page-loader">
        <span class="spinner-border text-primary" role="status">
            <span class="visually-hidden">@_localizer["Loading"]...</span>
        </span>
    </div>
    <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">
            <div id="kt_aside" class="aside @(theme != Themes.Dark ? "aside-light " : "aside-dark ")aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
                <div class="aside-logo flex-column-auto" id="kt_aside_logo">
                    <a href="/">
                        <img alt="OneFrame Logo" src="~/img/oneframe@(themeName).svg" class="w-75 logo" />
                    </a>
                    <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
                        <span class="svg-icon svg-icon-1 rotate-180">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="black"></path>
                                <path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="black"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="aside-menu flex-column-fluid">
                    <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0" style="height: 734px;">
                        <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true" data-kt-menu-expand="false">
                            <div class="menu-item">
                                <a class="menu-link" href="/">
                                    <span class="menu-icon">
                                        <em class="far fa-circle"></em>
                                    </span>
                                    <span class="menu-title">@_localizer["Dashboard"]</span>
                                </a>
                            </div>
                            @await Component.InvokeAsync("MenuViewComponent")
                        </div>
                    </div>
                </div>
                <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" id="kt_aside_footer">
                    <a rel="noopener" href="http://oneframe.kocsistem.com.tr/docs" class="btn btn-custom btn-primary w-100" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click" title="" data-bs-original-title="OneFrame Documentation Portal">
                        <span class="btn-label"><em class="fa fa-file-alt"></em> @_localizer["DocsAndComponents"]</span>
                        <span class="svg-icon btn-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z" fill="black"></path>
                                <rect x="7" y="17" width="6" height="2" rx="1" fill="black"></rect>
                                <rect x="7" y="12" width="10" height="2" rx="1" fill="black"></rect>
                                <rect x="7" y="7" width="6" height="2" rx="1" fill="black"></rect>
                                <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black"></path>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <div id="kt_header" style="" class="header align-items-stretch">
                    <div class="container-fluid d-flex align-items-stretch justify-content-between">
                        <div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show aside menu">
                            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_aside_mobile_toggle">
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black"></path>
                                        <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                            <a href="/" class="d-lg-none">
                                <img alt="Logo" src="~/img/oneframe@(themeName)-2.svg" class="h-30px">
                            </a>
                        </div>
                        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                            <div class="d-flex align-items-stretch" id="kt_header_nav">




                                <div class="header-menu align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_header_menu_mobile_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}">
                                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-stretch flex-shrink-0">
                                <div class="d-flex align-items-stretch ms-1 ms-lg-3">

                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-30px symbol-circle me-3">
                                            <span class="symbol-label">
                                                <span class="svg-icon svg-icon-primary svg-icon-2x">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><path d="M13,18.9450712 L13,20 L14,20 C15.1045695,20 16,20.8954305 16,22 L8,22 C8,20.8954305 8.8954305,20 10,20 L11,20 L11,18.9448245 C9.02872877,18.7261967 7.20827378,17.866394 5.79372555,16.5182701 L4.73856106,17.6741866 C4.36621808,18.0820826 3.73370941,18.110904 3.32581341,17.7385611 C2.9179174,17.3662181 2.88909597,16.7337094 3.26143894,16.3258134 L5.04940685,14.367122 C5.46150313,13.9156769 6.17860937,13.9363085 6.56406875,14.4106998 C7.88623094,16.037907 9.86320756,17 12,17 C15.8659932,17 19,13.8659932 19,10 C19,7.73468744 17.9175842,5.65198725 16.1214335,4.34123851 C15.6753081,4.01567657 15.5775721,3.39010038 15.903134,2.94397499 C16.228696,2.49784959 16.8542722,2.4001136 17.3003976,2.72567554 C19.6071362,4.40902808 21,7.08906798 21,10 C21,14.6325537 17.4999505,18.4476269 13,18.9450712 Z" fill="#000000" fill-rule="nonzero" /><circle fill="#000000" opacity="0.3" cx="12" cy="10" r="6" /></g></svg>
                                                </span>

                                            </span>
                                        </div>

                                        <div class="m-0">
                                            <span class="fw-semibold text-gray-400 d-block fs-8">@_localizer["TimeZone"]</span>
                                            <span class="fw-bold text-gray-800 fs-7">@timeZoneCookie </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                                    <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                        <img id="profilePhoto" data-id="profilePhoto" src="~/metronic/assets/media/avatars/blank.png" alt="@fullNameCookie">
                                    </div>
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-350px" data-kt-menu="true">
                                        <div class="menu-item px-3">
                                            <div class="menu-content d-flex align-items-center px-3">
                                                <div class="symbol symbol-50px me-5">
                                                    <img id="profilePhoto" data-id="profilePhoto" alt="@fullNameCookie" src="~/metronic/assets/media/avatars/blank.png">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <div class="fw-bolder d-flex align-items-center fs-5">
                                                        @fullNameCookie
                                                    </div>
                                                    <a href="#" class="fw-bold text-muted text-hover-primary fs-7">@(User.Identity.GetEmail())</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator my-2"></div>
                                        <div class="menu-item px-5">
                                            <a href="/profiles" class="menu-link px-5">@_localizer["MyProfile"]</a>
                                        </div>
                                        <div class="separator my-2"></div>
                                        @await Html.PartialAsync("_SelectLanguagePartial")
                                        <div class="menu-item px-5">
                                            <a href="/accounts/logout" class="menu-link px-5">@_localizer["Logout"]</a>
                                        </div>
                                        <div class="separator my-2"></div>
                                        <div class="menu-item px-5">
                                            <div class="menu-content px-5">
                                                <label class="form-check form-switch form-check-custom form-check-solid pulse pulse-success" for="kt_user_menu_dark_mode_toggle">
                                                    <input class="form-check-input w-30px h-20px" type="checkbox" @(theme == Themes.Dark ? "checked" : string.Empty) name="mode" id="kt_user_menu_dark_mode_toggle">
                                                    <span class="pulse-ring ms-n1"></span>
                                                    <span class="form-check-label text-gray-600 fs-7">@_localizer["DarkMode"]</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <div class="toolbar" id="kt_toolbar">
                        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">@ViewData["Title"]</h1>
                                <span class="h-20px border-gray-300 border-start mx-4"></span>
                            </div>
                            <div class="d-flex align-items-center gap-2 gap-lg-3">
                                @RenderSection("pageActions", false)
                            </div>
                        </div>
                    </div>
                    <div class="post d-flex flex-column-fluid" id="kt_post">
                        <div id="kt_content_container" class="container-xxl">
                            @RenderBody()
                        </div>
                    </div>

                    <partial name="_CookiePolicyPartial.cshtml" />
                </div>
                <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-bold me-1">2022</span>
                            <a rel="noopener" href="http://kocsistem.com.tr" target="_blank" class="text-gray-800 text-hover-primary" title="KoçSistem Bilgi ve İletişim Hizmetleri A.Ş.">KoçSistem</a>
                            <span class="text-muted"> | </span>
                            <a rel="noopener" href="https://oneframe.kocsistem.com.tr/docs/#/oneframe/templates/web-api/CHANGELOG" target="_blank" class="text-gray-800 text-hover-primary">v@(_configuration["Version:Key"])</a>
                        </div>
                        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                            <li class="menu-item">
                                <a rel="noopener" href="https://oneframe.kocsistem.com.tr/" class="text-muted text-hover-primary px-2" target="_blank">@_localizer["AboutUs"]</a>
                            </li>
                            <li class="menu-item">
                                <a rel="noopener" href="https://www.kocsistem.com.tr/iletisim/" class="text-muted text-hover-primary px-2" target="_blank">@_localizer["Contact"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#kt_user_menu_dark_mode_toggle").on('change', function () {
            var theme = "@(Themes.Light)";
            if (this.checked) {
                theme = "@(Themes.Dark)";
            }
            var url = "/set-theme?themeValue=" + theme + "&returnUrl=@(Context.Request.Path)";
            window.location = url;
        });

        var rtl = @(_htmlRtlSuffixHelper.IsRightToLeft.ToString().ToLower());
        if (rtl) {
            $("*").find('[data-kt-menu-placement*="bottom-start"]').each(function () {
                $(this).attr('data-kt-menu-placement', 'bottom-end');
            });
            $("*").find('[data-kt-menu-placement*="right-start"]').each(function () {
                $(this).attr('data-kt-menu-placement', 'left-end');
            });
        }
    </script>
    @{
        var message = TempData.Get<ToastModel>("Notifications");
        if (message != null)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    showNotification('@message.Message', '@message.ToastType.ToString()');
                });
            </script>
        }
    }
    <partial name="_AutoLogoutDialogPartial" />
    @RenderSection("scripts", false)
</body>
</html>
