﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@using System.Globalization
@using KocSistem.CommunityEdition.Mvc.Helpers
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@inject IHttpContextAccessor _httpContextaccessor
@inject HtmlRtlSuffixHelper _htmlRtlSuffixHelper
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@inject IKsStringLocalizer<HomeController> _localizer
@inject IOptions<RequestLocalizationOptions> _locOptions
@{
    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != Themes.Dark ? string.Empty : $".{theme}";

    var cultureItems = _locOptions.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = c.Parent.NativeName, Selected = CultureInfo.DefaultThreadCurrentCulture.ToString() == c.Name }).ToList().OrderBy(o => o.Text);
}
<!DOCTYPE html>
<html lang="@(CultureInfo.DefaultThreadCurrentCulture.TwoLetterISOLanguageName)" direction="@(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr")" style="direction: @(_htmlRtlSuffixHelper.IsRightToLeft ? "rtl" : "ltr");">
<head>
    <meta charset="utf-8" />
    <title>OneFrame | @ViewData["Title"]</title>
    <meta name="description" content="@_localizer["NowYouCanStartBuildingYourAwesomeWebApplicationHappyCoding"]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/img/favicon-32x32.png" />
    <link rel="stylesheet" href="~/fonts/Poppins/Poppins.css" />
    @if (_htmlRtlSuffixHelper.IsRightToLeft)
    {
        <link href="~/metronic/assets/plugins/custom/prismjs/prismjs.bundle.rtl.css" rel="stylesheet" type="text/css" />
    }
    <link href="~/metronic/assets/plugins/global/plugins@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/css/style@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
    <script>
        var currentCulture = "@(CultureInfo.DefaultThreadCurrentCulture)"
    </script>
    <script src="~/metronic/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/metronic/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/js/resource@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    <script src="~/js/site@(_htmlMinSuffixHelper.MinSuffix).js"></script>
    @RenderSection("header", false)
</head>
<body id="kt_body" class="@(theme != Themes.Dark ? string.Empty : "dark-mode ")auth-bg">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-column-fluid py-10">
            <div class="d-flex flex-column flex-column-fluid text-center">
                <a href="/" class="mb-10 pt-lg-10">
                    <img alt="OneFrame Logo" src="~/img/oneframe@(themeName).svg" class="h-40px mb-5" />
                </a>
                <div class="pt-lg-10 mb-10">
                    @RenderBody()
                </div>
                <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(../metronic/assets/media/illustrations/sketchy-1/17@(themeName).png"></div>
            </div>
            <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                <div class="d-flex flex-center fw-bold fs-6">
                    <div class="row fv-row fv-plugins-icon-container">
                        <div class="col-xl-4 mt-3">
                            <label class="form-check form-switch form-check-custom form-check-solid" for="kt_user_menu_dark_mode_toggle">
                                <input class="form-check-input w-30px h-20px" type="checkbox" @(theme == Themes.Dark ? "checked" : string.Empty) name="mode" id="kt_user_menu_dark_mode_toggle">
                                <span class="form-check-label text-gray-600 fs-7"><i class="fonticon-@(theme == Themes.Dark ? "moon" : "sun") fs-2"></i></span>
                            </label>
                        </div>
                        <div class="col-xl-8">
                            @Html.DropDownList("languageSelectList", cultureItems, new { @class = "form-select" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                <div class="d-flex flex-center fw-bold fs-6">
                    <a href="https://oneframe.kocsistem.com.tr/" class="text-muted text-hover-primary px-2" target="_blank">@_localizer["AboutUs"]</a>
                    <a href="https://www.kocsistem.com.tr/iletisim/" class="text-muted text-hover-primary px-2" target="_blank">@_localizer["Contact"]</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/shared/selectlanguagepartial.js"></script>
    <script>
        $("#kt_user_menu_dark_mode_toggle").on('change',function () {
            var theme = "@(Themes.Light)";
            if (this.checked) {
                theme = "@(Themes.Dark)";
            }
            var url = "/set-theme?themeValue=" + theme + "&returnUrl=@(Context.Request.Path)";
            window.location = url;
        });
        var rtl = @(_htmlRtlSuffixHelper.IsRightToLeft.ToString().ToLower());
        if (rtl) {
            $("*").find('[data-kt-menu-placement*="bottom-start"]').each(function() {
                $(this).attr('data-kt-menu-placement','bottom-end');
            });
            $("*").find('[data-kt-menu-placement*="right-start"]').each(function() {
                $(this).attr('data-kt-menu-placement','left-end');
            });
        }
    </script>

    @RenderSection("scripts", false)
</body>
</html>
