﻿@model ErrorViewModel
@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextaccessor
@inject IKsStringLocalizer<AccountController> _localizer
@{
    Layout = "~/src/Views/Shared/_ErrorLayout.cshtml";
    ViewData["Title"] = "Error";
}

@{
    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != Themes.Dark ? string.Empty : $".{theme}";
}

<div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
    <a href="/" class="mb-10 pt-lg-10">
        <img alt="OneFrame Logo" src="~/img/oneframe@(themeName).svg" class="h-40px mb-5" />
    </a>
    <div class="pt-lg-10 mb-10">
        <h1 class="fw-bolder fs-2qx text-gray-800 mb-10">@_localizer["SystemError"]</h1>
        <div class="fw-bold fs-3 text-muted mb-15">
            @_localizer["SomethingWentWrong"]!
            <br />@_localizer["TryAgainLater"].
            @if (Model.ShowRequestId)
            {
                <br />
                <strong>@_localizer["RequestId"]: </strong> <code>@Model.RequestId</code>
            }
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-lg btn-primary fw-bolder"><em class="fa fa-home"></em>@_localizer["ReturnHome"]</a>
        </div>
    </div>
    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(../metronic/assets/media/illustrations/sketchy-1/17@(themeName).png"></div>
</div>
<div class="d-flex flex-center flex-column-auto p-10">
    <div class="d-flex align-items-center fw-bold fs-6">
        <a rel="noopener" href="https://oneframe.kocsistem.com.tr/" class="text-muted text-hover-primary px-2" target="_blank">@_localizer["AboutUs"]</a>
        <a rel="noopener" href="https://www.kocsistem.com.tr/iletisim/" class="text-muted text-hover-primary px-2" target="_blank">@_localizer["Contact"]</a>
    </div>
</div>