﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@using KocSistem.CommunityEdition.Mvc.Helpers
@using Microsoft.AspNetCore.Http
@inject HtmlRtlSuffixHelper _htmlRtlSuffixHelper
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@inject IHttpContextAccessor _httpContextaccessor
@model KocSistem.CommunityEdition.Mvc.Models.Role.RoleClaimsViewModel
@inject IKsStringLocalizer<RoleController> _localizer
@{
    ViewData["Title"] = _localizer["RoleClaimManagement"];

    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != Themes.Dark ? "" : $".{theme}";
}

@section scripts
{
<script src="~/metronic/assets/plugins/custom/jstree/jstree.bundle.js" type="text/javascript"></script>
<script src="~/js/helpers/claimhelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/role/roleclaims@(_htmlMinSuffixHelper.MinSuffix).js"></script>
}

@section headerEnd
{
<link href="~/metronic/assets/plugins/custom/jstree/jstree@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
<link href="~/scss/jstree-custom@(_htmlMinSuffixHelper.MinSuffix).css" rel="stylesheet" type="text/css" />
}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_create_account_stepper">
            <div class="card d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px w-xxl-400px me-9">
                <div class="card-body px-6 px-lg-10 px-xxl-15 py-20">
                    <div class="stepper-nav">
                        <div class="stepper-item current" data-kt-stepper-element="nav">
                            <div class="stepper-line w-40px"></div>
                            <div class="stepper-icon w-40px h-40px">
                                <em class="stepper-check fas fa-check"></em>
                                <span class="stepper-number">1</span>
                            </div>
                            <div class="stepper-label">
                                <h3 class="stepper-title">@_localizer["RoleSelection"]</h3>
                                <div class="stepper-desc fw-bold">@_localizer["RoleSelectionDescription"]</div>
                            </div>
                        </div>
                        <div class="stepper-item" data-kt-stepper-element="nav">
                            <div class="stepper-line w-40px"></div>
                            <div class="stepper-icon w-40px h-40px">
                                <em class="stepper-check fas fa-check"></em>
                                <span class="stepper-number">2</span>
                            </div>
                            <div class="stepper-label">
                                <h3 class="stepper-title">@_localizer["AssigningAuthority"]</h3>
                                <div class="stepper-desc fw-bold">@_localizer["AssigningAuthorityDescription"]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card d-flex flex-row-fluid flex-center">
                <form class="card-body py-20 w-100 px-15" novalidate="novalidate" id="kt_create_account_form">
                    <div class="current" data-kt-stepper-element="content">
                        <div class="w-100">
                            <div class="pb-10 pb-lg-15">
                                <h2 class="fw-bolder d-flex align-items-center text-dark">
                                    @_localizer["RoleSelection"]
                                </h2>
                            </div>
                            <div class="fv-row">
                                <div class="row g-9 mb-8">
                                    <div class="col-md-8 fv-row">
                                        <label class="required fs-6 fw-bold mb-2">@_localizer["RoleList"]</label>
                                        <select id="roleList" name="roleList" asp-items="@Model.RoleList" class="form-select form-select-solid" data-control="select2" data-live-search="true">
                                            <option value="" hidden="hidden">@_localizer["Choose"]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-kt-stepper-element="content">
                        <div class="w-100">
                            <div class="pb-10 pb-lg-15">
                                <h2 class="fw-bolder text-dark">@_localizer["AssigningAuthority"]</h2>
                                <div class="text-muted fw-bold fs-6">
                                    @_localizer["SelectedRole"] : 
                                    <a href="#" class="link-primary fw-bolder"><label id="selectedRol"></label></a>
                                </div>
                            </div>
                            <div class="mb-10 fv-row">
                                <div id="tree"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-stack pt-10">
                        <div class="mr-2">
                            <button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
                                <span class="svg-icon svg-icon-4 me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="11" width="13" height="2" rx="1" fill="black" />
                                        <path d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z" fill="black" />
                                    </svg>
                                </span>
                                @_localizer["Back"]
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-lg btn-primary me-3" data-kt-stepper-action="submit">
                                <span class="indicator-label">
                                    @_localizer["Submit"]
                                    <span class="svg-icon svg-icon-3 ms-2 me-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black" />
                                            <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black" />
                                        </svg>
                                    </span>
                                </span>
                                <span class="indicator-progress">
                                    @_localizer["PleaseWait"]
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">
                                @_localizer["Continue"]
                                <span class="svg-icon svg-icon-4 ms-1 me-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black" />
                                        <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>