﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@model KocSistem.CommunityEdition.Mvc.Models.ApplicationSetting.AppSettingViewModel
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@inject IKsStringLocalizer<ApplicationSettingController> _localizer

<div class="modal fade" id="modalNewApplicationSetting" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content">
            <div class="modal-header">
                <h2>@_localizer["NewAppSetting"]</h2>
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <form class="form w-100" novalidate="novalidate" id="appSettingCreateForm" asp-controller="ApplicationSetting" asp-action="Post" method="POST">
                    <div class="d-flex flex-column mb-8 fv-row">
                        <label asp-for="Key" class="d-flex align-items-center fs-6 fw-bold form-label mb-2 required"></label>
                        <input asp-for="Key" class="form-control form-control-solid" autocomplete="off" />
                    </div>
                    <div class="row g-9 mb-8">
                        <div class="col-md-6 fv-row">
                            <label asp-for="Value" class="d-flex align-items-center fs-6 fw-bold form-label mb-2 required"></label>
                            <input asp-for="Value" class="form-control form-control-solid" autocomplete="off" />
                        </div>
                        <div class="col-md-6 fv-row">
                            <label asp-for="ValueType" class="d-flex align-items-center fs-6 fw-bold form-label mb-2 required"></label>
                            <input asp-for="ValueType" class="form-control form-control-solid" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row g-9 mb-8">
                        <div class="col-md-6 fv-row">
                            <label asp-for="CategoryName" class="d-flex align-items-center fs-6 fw-bold form-label mb-2"></label>
                            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.CategoryList, "Id","Name"))" class="form-select form-select-solid"></select>
                        </div>
                        <div class="col-md-6 fv-row mb-8">
                            <label class="form-check form-check-custom form-check-solid me-9 mt-12">
                                <input class="form-check-input" type="checkbox" value="" asp-for="IsStatic" />
                                <span class="form-check-label" for="kt_permissions_core">@_localizer["IsStatic"]</span>
                            </label>
                        </div>
                    </div>
                    <div class="text-center pt-15">
                        <button type="reset" class="btn btn-light me-3" data-bs-dismiss="modal">@_localizer["Cancel"]</button>
                        <button type="button" id="appSettingCreateButton" class="btn btn-primary">
                            <span class="indicator-label">@_localizer["Submit"]</span>
                            <span class="indicator-progress">
                                @_localizer["PleaseWait"]...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/helpers/handlehelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/applicationSetting/create@(_htmlMinSuffixHelper.MinSuffix).js"></script>