﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@model KocSistem.CommunityEdition.Mvc.Models.Profile.ChangePasswordModel
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper

@inject IKsStringLocalizer<ProfileController> _localizer
@{
    ViewData["Title"] = _localizer["ChangePassword"];
}

<form id="changePasswordForm" class="kt-form" asp-controller="Profile" asp-action="SetChangePassword" method="POST">
    <div class="card mb-5 mb-xl-10">
        <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_change_password" aria-expanded="true" aria-controls="kt_account_profile_change_password">
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">@_localizer["MyProfile"]</h3>
            </div>
        </div>
        <div id="kt_account_settings_profile_change_password" class="collapse show">
            <form id="kt_account_profile_change_password_form" class="form">
                <div class="card-body border-top p-9">

                    <div class="row fv-row mb-12">
                        <div class="col-lg-3"></div>
                        <label class="col-lg-2 col-form-label fw-bold fs-6 required" asp-for="CurrentPassword">@_localizer["Password"]</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-6 fv-row">
                                    <input type="password" asp-for="CurrentPassword" name="currentPassword" autocomplete="off" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  data-kt-password-meter="true">
                    <div class="row fv-row mb-12">
                        <div class="col-lg-3"></div>
                        <label class="col-lg-2 col-form-label fw-bold fs-6 required" asp-for="NewPassword">@_localizer["NewPassword"]</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-6 fv-row">
                                    <input type="password" asp-for="NewPassword" name="newPassword" autocomplete="off" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" />
                                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                        <i class="bi bi-eye-slash fs-2"></i>
                                        <i class="bi bi-eye fs-2 d-none"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="row fv-row mb-12">
                        <div class="col-lg-3"></div>
                        <label class="col-lg-2 col-form-label fw-bold fs-6"></label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-6 fv-row">
                                    <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row fv-row mb-12">
                        <div class="col-lg-3"></div>
                        <label class="col-lg-2 col-form-label fw-bold fs-6 required" asp-for="NewPasswordConfirmation">@_localizer["NewPasswordConfirmation"]</label>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-6 fv-row">
                                    <input type="password" asp-for="NewPasswordConfirmation" name="newPasswordConfirmation" autocomplete="off" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-7">
                            <button type="reset" id="cancelButton" class="btn btn-light btn-active-light-primary me-2">@_localizer["Cancel"]</button>
                            <button type="submit" id="changePasswordButton" class="btn btn-primary">
                                <span class="indicator-label">@_localizer["Submit"]</span>
                                <span class="indicator-progress">
                                    @_localizer["PleaseWait"]...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>

<script src="~/js/helpers/handlehelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/profile/changepass@(_htmlMinSuffixHelper.MinSuffix).js"></script>
