﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@model KocSistem.CommunityEdition.Mvc.Models.Profile.ConfirmationCodeModel
@inject HtmlMinSuffixHelper htmlMinSuffixHelper

@inject IKsStringLocalizer<ProfileController> Localizer
@{
    ViewData["Title"] = Localizer["PhoneNumberConfirmation"];
}

@section scripts
{
    <script src="~/js/profile/confirmationcodeexpire@(htmlMinSuffixHelper.MinSuffix).js"></script>
}

<form class="kt-form" asp-controller="Profile" asp-action="ConfirmPhoneNumber" method="POST">
    <div class="col">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @Localizer["PhoneNumberConfirmation"]
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                            @Localizer["PhoneNumberConfirmationText"]
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <label class="form-control">@Model.PhoneNumber</label>
                            <input asp-for="ExpiredDate" hidden />
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <label asp-for="Code"></label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="form-text text-danger"></span>
                            <div id="divTimer">
                                <span>@Localizer["RemainTime"]</span>
                                <strong id="kt_remainTime" class="mt-3 ml-3"></strong>
                                <strong class="mt-2">@Localizer["Second"]</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 col-xl-4">
                        <div id="submitDiv">
                            <button type="submit" id="btnConfirmPhoneNumber" class="btn btn-success" data-spinning-button>@Localizer["Validate"]</button>
                        </div>
                        <div id="takeNewCodeDiv" style="display:none;">
                            <button class="btn btn-facebook" id="btnTakeNewCode" type="button" data-toggle="kt-tooltip" data-placement="right" data-original-title="@Localizer["ConfirmationCodeExpired"]" data-spinning-button>@Localizer["TakeNewCode"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>