﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.OneFrame.I18N
@using KocSistem.CommunityEdition.Mvc.Helpers
@using Microsoft.AspNetCore.Http
@inject HtmlRtlSuffixHelper _htmlRtlSuffixHelper
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@inject IHttpContextAccessor _httpContextaccessor
@inject IKsStringLocalizer<MenuController> _localizer
@{
    ViewData["Title"] = _localizer["MenuOrderManagement"];

    var theme = HomeController.CheckThemeName(_httpContextaccessor.HttpContext.Request.Cookies["theme"]);
    var themeName = theme != Themes.Dark ? "" : $".{theme}";
}

@section scripts
{
<script src="~/metronic/assets/plugins/custom/jstree/jstree.bundle.js" type="text/javascript"></script>
<script src="~/js/helpers/menuhelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/menu/menuorder@(_htmlMinSuffixHelper.MinSuffix).js"></script>
}

@section headerEnd
{
<link href="~/metronic/assets/plugins/custom/jstree/jstree@(themeName).bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
<link href="~/scss/jstree-custom@(_htmlMinSuffixHelper.MinSuffix).css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="card">
        <div class="card-body pt-6">
            <div id="tree"></div>
            <div class="text-center pt-15">
                <button type="button" class="btn btn-primary" id="menuOrderSaveButton">
                    <span class="indicator-label">@_localizer["Save"]</span>
                    <span class="indicator-progress">
                        @_localizer["PleaseWait"]...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>