﻿@using KocSistem.OneFrame.I18N
@inject HtmlRtlSuffixHelper _htmlRtlSuffixHelper
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@using KocSistem.CommunityEdition.Mvc.Helpers
@inject IKsStringLocalizer<EmailNotificationController> _localizer
@{
    ViewData["Title"] = _localizer["EmailNotificationList"];
}

@section scripts
{
    <script src="~/metronic/assets/plugins/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script src="~/js/helpers/datatablehelper@(_htmlMinSuffixHelper.MinSuffix).js" type="text/javascript"></script>
    <script src="~/js/emailNotification/get@(_htmlMinSuffixHelper.MinSuffix).js" type="text/javascript"></script>
    <script type="text/javascript">
        var messageForSuccess = "@_localizer["EmailNotificationSendSuccess"]";
        var messageForUnSuccess = "@_localizer["EmailNotificationSendNotSuccess"]";
    </script>
}

@section headerBegin
{
<link href="~/metronic/assets/plugins/custom/datatables/datatables.bundle@(_htmlRtlSuffixHelper.RtlFileSuffix).css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="card">
        <div class="card-header border-0 pt-6">
            <div class="card-title">
                <div class="d-flex align-items-center position-relative my-1">
                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
                        </svg>
                    </span>
                    <input type="text" class="form-control form-control-solid w-250px ps-15 datatable-search" placeholder='@_localizer["DataTable_search"]' />
                </div>
            </div>

        </div>
        <div class="card-body pt-0">
            <table class="table align-middle table-row-dashed fs-6 gy-5" id="table_emailNotification">
                <thead>
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                        <th class="min-w-125px">@_localizer["Subject"]</th>
                        <th class="min-w-125px">@_localizer["From"]</th>
                        <th class="min-w-125px">@_localizer["To"]</th>
                        <th class="min-w-125px">@_localizer["CreatedDate"]</th>
                        <th class="min-w-125px">@_localizer["IsSent"]</th>
                        <th class="min-w-125px">@_localizer["SentDate"]</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content">
            <div class="modal-header">
                <h2>@_localizer["Body"]</h2>
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7" id="body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">@_localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
