﻿@using KocSistem.CommunityEdition.Mvc.Controllers
@using KocSistem.CommunityEdition.Mvc.Helpers
@using KocSistem.OneFrame.I18N
@model KocSistem.CommunityEdition.Mvc.Models.Language.LanguageViewModel
@inject HtmlMinSuffixHelper _htmlMinSuffixHelper
@inject IKsStringLocalizer<LanguageController> _localizer

<div class="modal fade" id="modalNewLanguage" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-550px">
        <div class="modal-content">
            <div class="modal-header">
                <h2>@_localizer["NewLanguage"]</h2>
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <form class="form w-100" novalidate="novalidate" id="languageCreateForm" asp-controller="language" asp-action="Post" method="POST">
                    <div class="row fv-row mb-6">
                        <label class="col-lg-12 col-form-label fw-bold fs-6 required">@_localizer["Flag"]</label>
                        <div class="col-lg-12">
                            <div class="image-input image-input-outline profile_photo">
                                <img id="createFlagPreview" class="image-input-wrapper w-125px h-125px"/>
                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="@_localizer["ChangeFlag"]">
                                    <em class="bi bi-pencil-fill fs-7"></em>
                                    <input id="createImage" type="file" asp-for="Image" class="launch-modal" accept="image/*">									
                                </label>                                
                            </div>
                        </div>
                    </div>
                    <div class="row fv-row">                        
                        <div class="col-md-12 fv-row">
                            <label asp-for="Name" class="d-flex align-items-center fs-6 fw-bold form-label mb-2 required"></label>
                            <input asp-for="Name" class="form-control form-control-solid" autocomplete="off" />
                        </div>                        
                    </div>
                    <div class="row fv-row">        
                        <div class="col-md-12 fv-row">
                            <label asp-for="Code" class="d-flex align-items-center fs-6 fw-bold form-label mb-2 required"></label>
                            <input asp-for="Code" class="form-control form-control-solid" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-6 fv-row">
                        <label class="form-check form-check-custom form-check-solid me-9 mt-12">
                            <input class="form-check-input" type="checkbox" value="" asp-for="IsDefault" />
                            <span class="form-check-label" for="kt_permissions_core">@_localizer["Default"]</span>
                        </label>
                    </div>
                    <div class="col-md-6 fv-row">
                        <label class="form-check form-check-custom form-check-solid me-9 mt-12">
                            <input class="form-check-input" type="checkbox" value="" asp-for="IsActive" />
                            <span class="form-check-label" for="kt_permissions_core">@_localizer["Active"]</span>
                        </label>
                    </div>                    
                    <div class="text-center pt-15">
                        <button type="reset" class="btn btn-light me-3" data-bs-dismiss="modal">@_localizer["Cancel"]</button>
                        <button type="button" id="languageCreateButton" class="btn btn-primary">
                            <span class="indicator-label">@_localizer["Submit"]</span>
                            <span class="indicator-progress">
                                @_localizer["PleaseWait"]...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/fileuploader/oneframefileuploader@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/helpers/handlehelper@(_htmlMinSuffixHelper.MinSuffix).js"></script>
<script src="~/js/language/create@(_htmlMinSuffixHelper.MinSuffix).js"></script>
